body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  min-height: 100hv;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

ul {
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 156px;
  width: 1440px;
  text-align: center;
}

.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* <**===========HEADER============*> */

.header {

}

.header-navigation {
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-color {
  color: #2e2f42;
}

.header-menu {
}

.header-menu-item {
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu-link:active,
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-contacts {
}
.header-contacts-list {
}
.header-contacts-item {
}

.header-contacts-link {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  height: 72px;
}

.header-logo {
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
}

.header-menu {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}

.header-navigation {
  margin-left: 76px;
  margin-right: 332px;
}

.header-contacts-list {
  display: inline-flex;
  justify-content: flex-start;
  gap: 40px;
}

.header-contacts {
  
}

/* <**=============================*> */

/* <**===========HERO============*> */

.hero {
  background-color: #2e2f42;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 496px;
  margin: 0 auto;
}

.hero-button {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  margin: 0 auto;
}

.hero-button:focus,
.hero-button:hover {
  background-color: #404bbf;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 600px;
  gap: 48px;
}

/* <**=============================*> */

/* <**===========FEATURES============*> */

.features {
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  flex-basis: calc((100% - 72px)/4);
  margin-top: 120px;
  margin-bottom: 120px;
  flex-shrink: 0;
}

.features-item-text {
  margin-top: 8px;
  text-align: left;
}
.features-subtitle {
  text-align: left;
}

/* <**=============================*> */

/* <**===========OURTEAM============*> */

.ourteam {
  background-color: #f4f4fd;
}
.ourteam .container {
  height: 732px;
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.ourteam-title {
  margin-top: 120px;

}
.ourteam-list {
  display: flex;
  gap: 24px;
}

.ourteam-item {
  background-color: #fff;
  width: calc((100% - 72px)/ 4);
  border-radius: 0px 0px 4px 4px;
}
.ourteam-subtitle {
  margin-top: 32px;
}
.ourteam-item-text {
  margin-top: 8px;
  margin-bottom: 32px;
}

/* <**=============================*> */

/* <**===========PORTFOLIO============*> */

.portfolio {
}
.portfolio-list {
}

.portfolio-item {
  background-color: #fff;
}

/* <**=============================*> */

/* <**===========FOOTER============*> */

.footer {
  background-color: #2e2f42;
}

.footer-logo {
}

.footer-logo-color {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}

/* <**=============================*> */


