body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 156px;
  width: 1440px;
}

.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header {
  border-bottom: 1px solid #E7E9FC;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-color {
  color: #2e2f42;
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu-link:active,
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-contacts-link {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.header-logo {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  margin-top: 24px;
  margin-bottom: 24px;
}

.header-menu {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}

.header-navigation {
  margin-left: 76px;
  margin-right: 332px;
}

.header-contacts-list {
  display: inline-flex;
  justify-content: flex-start;
  gap: 40px;
}

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
}

.hero-button:focus,
.hero-button:hover {
  background-color: #404bbf;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  flex-shrink: 0;
}

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
  flex-shrink: 0;
}

.features-item-text {
  margin-top: 8px;
  text-align: left;
}

.features-subtitle {
  text-align: left;
}

.ourteam {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.ourteam .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  flex-shrink: 0;
}

.ourteam-list {
  display: flex;
  gap: 24px;
}

.ourteam-item {
  background-color: #fff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.ourteam-subtitle {
  margin-top: 32px;
}

.ourteam-item-text {
  margin-top: 8px;
  margin-bottom: 32px;
}

.portfolio .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  flex-shrink: 0;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  background-color: #fff;
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  flex-basis: calc((100% - 48px) /3);
}

.portfoilo-item-border {
  width: 360px;
  border-right: 1px solid #E7E9FC;
  border-left: 1px solid #E7E9FC;
  border-bottom: 1px solid #E7E9FC;
}

.portfolio-subtitle {
  margin-top: 32px;
  padding-left: 16px;
}

.portfolio-item-text {
  margin-top: 8px;
  margin-bottom: 32px;
  padding-left: 16px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 17.5px;
  margin-top: 101.5px;
  margin-bottom: 100px;
}

.footer {
  background-color: #2e2f42;
}

.footer-logo-color {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  width: 264px;
}

